* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;

}

/* HEADER */

.bg-skew {
    margin-top: -100px;
    width: 100vw;
    height: 420px;
    background: #707070 0% 0% no-repeat padding-box;
    transform: skewY(6deg);
}

.header-content {
    padding-top: 150px;
    color: #FFF;
    transform: skewY(-6deg);
    text-align: center;

}

.header-content{
    font-family: Helvetica Neue, sans-serif;
}

.header-content h1 {
    font-size: 20px;
    font-weight: 100;    
}

.h1-bold {
    font-size: 40px;
    font-weight: bold;
}

.header-content h2 {
    font-size: 14px;
    font-weight: 100;
    margin-top: 24px;

}

header nav {
    margin-top: 50px;
}

header button {
    color: #888888;
    width: 160px;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 40px;
}

/* MAIN */
main {
    margin-top: 100PX;
    width: 920px;
    align-items: center;  
}

/* LEADS */


.form-container {
  
}


.form-container h2 {
    color: #888888;
}

.form-container p {
    color: #888888;
}



/* FOOTER */



footer {
    left: 0px;
    width: 100vw;
    height: 300px;
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}